---
import type { ReviewsDataSchema } from '@/content/config';
import IconComponent from '@/components/ui/IconComponent.astro';

interface Props {
  reviewData: ReviewsDataSchema['reviewsData'][number];
}

const { text, name, location, time } = Astro.props.reviewData;
---

<div 
  data-review
  class="shrink-0 size-full pt-8 pb-4 pl-8 pr-4 
        flex flex-col justify-between gap-8 2xl:gap-16 bg-white rounded-md relative"
>
  <span class="absolute -top-8 left-8 z-10 p-2 inline-flex items-center justify-center">
    <IconComponent 
      name="quoteIcon"
      className="size-14"
  />
  </span>
  <p class="text-lg md:text-xl 2xl:text-2xl">{text}</p>
  <p class="flex items-center gap-1 text-lg md:text-xl 2xl:text-2xl">
    <span class="font-semibold">{name}</span>
    <span>({location}), </span>
    <span>{time}</span>
  </p>
</div>