---
import type { ReviewsDataSchema } from '@/content/config';
import ReviewItem from '@/components/sections/reviews/ReviewItem.astro';
import ReviewButtons from '@/components/sections/reviews/ReviewButtons.astro';

interface Props {
  reviewsData: ReviewsDataSchema['reviewsData'];
}

const { reviewsData } = Astro.props;
---

<div
  data-reviews-wrapper
  data-active-index="1"
  aria-label="Reviews slider" 
  role="region"
  class="size-full lg:self-end md:pr-[20%] lg:pr-[15%] 2xl:pr-[30%] flex flex-col lg:justify-end gap-4 lg:gap-6"
>
  
  <div class="overflow-x-hidden pt-10 -mt-10">
    <div
      data-reviews
      class="size-full flex"
    >
      {reviewsData.map(reviewData => <ReviewItem reviewData={reviewData} />)}
    </div>
  </div>
  <ReviewButtons />
  </div>
</div>

<script>
  import { initReviewsSlider } from '@/scripts/initReviewsSlider'; 
  initReviewsSlider();
</script>