---
import IconComponent from '@/components/ui/IconComponent.astro';
---

<div class="pl-1 xl:-ml-10 flex items-center gap-2 relative z-10">
  <button
    type="button" 
    class="p-2 rotate-90 inline-flex items-center justify-center bg-accent rounded-md"
  >
    <IconComponent 
      name="arrowDownIcon"
      className="size-4 text-slate-600"
    />
  </button>
  <button
    type="button" 
    class="p-2 -rotate-90 inline-flex items-center justify-center bg-accent rounded-md"
  >
    <IconComponent 
      name="arrowDownIcon"
      className="size-4 text-slate-600"
    />
  </button>
</div>