---
import type { ProjectsDataSchema } from "@/content/config";
import ProjectItem from "@/components/projects/ProjectItem.astro";

export interface Props {
  projectsData: ProjectsDataSchema['projectsData'];
}

const { projectsData } = Astro.props;
---

<main class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-0">
  {projectsData.map(project => <ProjectItem projectData={project} />)}
</main>