---
import { getEntry } from 'astro:content';
import Contacts from '@/components/ui/Contacts.astro';
import Socials from '@/components/ui/Socials.astro';

const topbarEntry = await getEntry('topbar', 'topbar_data');

if (!topbarEntry) {
  throw new Error("Topbar not found");
}
---

<section id={topbarEntry.data.sectionId} class="py-2 bg-linear-to-t from-amber-400 to-amber-200 relative z-30">
  <div class="page-container">
    <div class="w-full flex flex-col md:flex-row md:items-center md:justify-between gap-6">
      <Contacts contacts={topbarEntry.data.contacts} />
      <Socials socialLinks={topbarEntry.data.socialLinks} />
    </div>
  </div>
</section>
