@import "./fonts.css";

@import "tailwindcss";
@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@theme {
  --font-primary: "DM Sans", system-ui, sans-serif;
  --font-secondary: "Barlow", system-ui, sans-serif;

  --color-primary: #121315;
  --color-secondary: #666666;
  --color-tertiary: var(--color-amber-200);
  --color-accent: var(--color-amber-300);
  --color-border: #d7d7d7;

  --shadow-custom: "0px 4px 54px 10px rgba(18, 19, 21, 0.06)";

  --bg-hero: url("/images/hero/bg.jpg");

  --breakpoint-3xl: 108rem;
  --breakpoint-4xl: 120rem;
  --breakpoint-5xl: 160rem;
}

/* Adds pointer cursor to buttons */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }

  html {
    height: 100%;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100vh;
    min-height: 100svh;
    font-family: var(--font-secondary), system-ui, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-synthesis: none;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: var(--color-secondary);
    background-color: #fff;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary), system-ui, sans-serif;
    color: var(--color-primary);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-4xl lg:text-7xl xl:text-7xl 2xl:text-9xl font-bold leading-[1.3] uppercase;
  }

  h2 {
    @apply text-base md:text-lg lg:text-xl 2xl:text-2xl font-bold leading-[1.3] tracking-[3px] uppercase;
  }

  h3 {
    @apply text-3xl md:text-4xl lg:text-5xl 2xl:text-7xl font-extrabold md:leading-[1.3] uppercase;
  }

  h4 {
    @apply text-2xl font-semibold;
  }


  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .section-padding {
    @apply py-16 xl:py-24;
  }

  .section-title {
    @apply flex items-center text-slate-400;

    &::before {
      content: '';
      @apply inline-block w-2 h-2 bg-accent mr-4;
    }

    &::after {
      content: '';
      @apply inline-block w-2 h-2 bg-accent ml-4;
    }
  }
}

@utility page-container {  
  margin-inline: auto;  
  padding-inline: 1rem;
  width: 100%;


  @media (width >= 108rem /* 1735px */) {
    max-width: 108rem /* 1735px */;
  }

  @media (width >= 120rem /* 1920px */) {
    max-width: 120rem /* 1920px */;
  }

  @media (width >= 160rem /* 2560px */) {
    max-width: 160rem /* 2560px */;
  }
}

@utility fade-in-y {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

@utility fade-up-y {
  opacity: 1;
  transform: translateY(0);
}

@utility fade-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

@utility fade-up-left {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

@utility fade-in-right {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

@utility fade-up-right {
  opacity: 1;
  transform: translateX(0);
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);