---
import NavLinks from "@/components/header/NavLinks.astro";

interface Props {
  links: {
    visible: boolean;
    name: string;
    path: string;
  }[];
  className?: string,
};

const { links, className } = Astro.props;
---

<nav class={`${className} flex items-center gap-4 md:gap-8 lg:gap-4`}>
  <NavLinks 
    links={links} 
    ulStyle="flex gap-0"
    liStyle="after:content-['/'] after:mx-2 xl:after:mx-4 2xl:after:mx-6 last:after:content-none"
  />
  <slot />
</nav>