---
import NavMobileBtn from "@/components/header/NavMobileBtn.astro";
import NavLinks from "@/components/header/NavLinks.astro";

interface Props {
  links: {
    visible: boolean;
    name: string;
    path: string;
  }[];
  icons: {
    open: string;
    close: string;
  };
  className?: string,
};

const { links, icons, className } = Astro.props;
---

<div
  data-menu-container
  data-menu-open="false"
  class={`group/menu ${className}`}
>
  <NavMobileBtn icons={icons} />
  <div 
    data-menu-overlay 
    class="fixed inset-0 z-10 bg-black/40 
          opacity-0 pointer-events-none
          group-data-[menu-open=true]/menu:opacity-100
          group-data-[menu-open=true]/menu:pointer-events-auto
          transition-opacity duration-600"
  />
  <nav
    class="w-full h-dvh md:h-[50svh] landscape:h-svh 
          absolute inset-x-0 top-full z-40
          flex flex-col items-center bg-primary border-t border-tertiary
          -translate-y-[200%] pointer-events-none
          group-data-[menu-open=true]/menu:translate-y-0
          group-data-[menu-open=true]/menu:pointer-events-auto
          transition-transform duration-800 ease-out" 
  >
    <NavLinks 
      links={links} 
      ulStyle="p-12 flex items-center flex-col landscape:flex-row gap-y-12 sm:gap-x-10 text-center"
    />
    <slot />
  </nav>
</div>

<script>
  import { initNavMobile } from '@/scripts/initNavMobile';
  document.querySelectorAll('[data-menu-container]').forEach(container => {
    if (!container) return;
    initNavMobile(container as HTMLElement);
  });
</script>