---
import { getEntry } from 'astro:content';
import UpperFooter from '@/components/footer/UpperFooter.astro';
import Policy from '@/components/footer/Policy.astro';
import LowerFooter from '@/components/footer/LowerFooter.astro';

const footerEntry = await getEntry('footer', 'footer_data');
const headerEntry = await getEntry('header', 'header_data');

if (!footerEntry || !headerEntry) {
  throw new Error("Footer data not found");
}

const { privacyPolicy, lowerFooter  } = footerEntry.data;
const {logo, links } = headerEntry.data;
---

<footer class="bg-primary">
  <div class="page-container">
    <div class="flex flex-col gap-y-4">
      <UpperFooter logo={logo} links={links} />
      {privacyPolicy.visible && <Policy policy={privacyPolicy} />}
      {lowerFooter.visible && <LowerFooter content={lowerFooter.content} /> }
    </div>
  </div>
</footer>