---
import IconComponent from '@/components/ui/IconComponent.astro';

interface Props {
  link: {
    label: string;
    path: string;
    icon?: string;
  };
  linkStyle?: string;
  labelStyle?: string;
}

const { link, linkStyle, labelStyle } = Astro.props;
---

<a 
  href={`#${link.path}`}
  class={`group shrink-0 p-2 flex items-center justify-between gap-2 rounded-md cursor-pointer ${linkStyle && linkStyle}`}
>
  <span class={`p-2 font-primary font-bold uppercase text-primary text-center text-2xl lg:text-3xl 2xl:text-4xl tracking-wide ${labelStyle && labelStyle}`}>
    {link.label}
  </span>
  {link.icon && (
    <span class="p-3 inline-flex items-center justify-center bg-primary rounded-md">
      <IconComponent 
        name={link.icon} 
        className="size-5 md:size- text-white -rotate-45 group-hover:rotate-0 transition-transform duration-300"
      />
    </span>
  )}
</a>