---
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import StatsSection from "@/components/sections/StatsSection.astro";
import ServicesSection from "@/components/sections/ServicesSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
import Reviews from "@/components/sections/Reviews";
import Faq from "@/components/sections/Faq";
import Contact from "@/components/sections/Contact";
---

<main>
  <HeroSection />
  <AboutSection />
  <StatsSection />
  <ServicesSection />
  <ProjectsSection />
  <Reviews />
  <Faq />
  <Contact />
</main>  

<script src="../../../src/scripts/animateSection.ts"></script>