---
import HeroSection from "@/components/sections/HeroSection.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import StatsSection from "@/components/sections/StatsSection.astro";
import ServicesSection from "@/components/sections/ServicesSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
import ReviewsSection from "@/components/sections/ReviewsSection.astro";
import Faq from "@/components/sections/Faq";
import Contact from "@/components/sections/Contact";
---

<main class="overflow-x-hidden">
  <HeroSection />
  <AboutSection />
  <StatsSection />
  <ServicesSection />
  <ProjectsSection />
  <ReviewsSection />
  <Faq />
  <Contact />
</main>  

<script src="../../../src/scripts/animateElements.ts"></script>