---
import Analytics from '@vercel/analytics/astro'
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>R-Construction | Your Relible Partner in Construction</title>
		<meta name="description" content="Your relible partner in construction, delivering excellence and integrity from start to finish.">
		<Analytics />
	</head>
	<body>
		<slot />
	</body>
</html>